<% provide(:title, "Contact") %>

<h1>Contact Us</h1>

<p>We love to hear from our community members! Whether you have a question about our platform or an idea for a new adventure, we're here to help. Here are a few ways you can get in touch with us:</p>

<h2>Email: [contact@goadventure.com]</h2>
<p>We typically respond to emails within 24-48 hours, but please allow for additional time during weekends and holidays.</p>

<h2>Social Media: [@goadventure]</h2>
<p>You can also follow us on social media to stay up-to-date on the latest events and community news. We're active on [insert social media platforms], so feel free to reach out to us there with any questions or comments.</p>

<h2>FAQs:</h2>
<p>Before reaching out to us, you may want to check out our <a href="#">frequently asked questions</a> page to see if your question has already been answered. We've compiled a list of common questions and answers, so you may be able to find the information you need without having to wait for a response.</p>

<h2>Feedback:</h2>
<p>We're always looking for ways to improve our platform and community. If you have feedback, suggestions, or ideas, please share them with us using our <a href="#">feedback form</a>. We value your input and will use it to make our platform even better.</p>
<p>Thank you for being a part of our community, and we look forward to hearing from you soon!</p>