<div class="center jumbotron">

<h1>Welcome to the Go Adventure Project!</h1>

<h2>We're a community of outdoor enthusiasts who share a passion for backcountry skiing and snowboarding. Our mission is to help people connect with like-minded adventurers and embark on self-guided ski trips in the stunning backcountry around Golden, BC.</h2>
<div><%= link_to image_tag("skier.jpg", alt: "Skier logo", width: "200"), "#" %></div>
<h2>Whether you're a seasoned backcountry skier or snowboarder, or a newcomer eager to experience the thrill of skiing in remote and pristine terrain, the Go Adventure Project has something for you. Our platform allows you to connect with other skiers and plan your own trips, without the need for a guide or tour operator.</h2>
<h2>Our members come from all over the world, and our community is growing every day. By joining the Go Adventure Project, you'll have access to a wealth of knowledge and experience, and you'll be able to meet new people and make lasting friendships.</h2>
<h2>So what are you waiting for? Sign up today and start planning your next backcountry ski adventure in Golden, BC!</h2>

<div><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></div>


  
</div>

